body {
    text-align: left;
    font-family: "Arial";
    color: blue;
    font-size: 16px;
    margin: 0;
    padding: 0;
    background: #333;
}

#cabecera {
    background: green;
    color: #fff;
    margin: 0;
    padding: 1em;
    font-weight: bold;
    box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.75);
}

#cabecera #logo {
    width: 64px;
    vertical-align: middle;
}

#cabecera #tagline {
    font-weight: normal;
    font-size: 0.8em;
    padding: 0 0 0 1em;
}

#container {
    width: 70%;
    padding: 0;
    text-align: left;
    border: 1px solid #ddd;
    margin: 0 auto;
}

#container h1 {
    font-size: 20px;
}

#container #post {
    padding: 1em;
}

#container #footer {
    background: #33A;
    padding: 1em 2em;
    font-size: 16px;
    color: white;
    text-align: center;
    box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.75);
    font-weight: bold;
}